
textarea {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    scrollbar-width: none;
    scrollbar-color: #000000ff #00000000;
    box-sizing: border-box;
    width: auto;
    min-width: 0;
    max-width: none;
    height: auto;
    min-height: 0;
    max-height: none;
    field-sizing: fixed;
    color: var(--colors-text);
    caret-color: var(--colors-text);
    cursor: text;
    user-select: text;
    resize: none;
    overflow: auto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.0;
    letter-spacing: 0;
    text-align: start;
}

@media (hover: hover) and (pointer: fine) {
    .textarea:hover {
        background-color: #00000000;
    }
}

textarea:active {
    outline: 0;
    box-shadow: none;
}

textarea:focus {
    outline: 0;
    box-shadow: none;
}

textarea:focus-visible {
    outline: 0;
    box-shadow: none;
}

textarea::placeholder {
    color: var(--colors-selected);
    opacity: 1;
}

textarea::selection {
    color: inherit;
    background: var(--colors-primary);
}
